* {
    margin: 0;
}
body {
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(225, 225, 225);
    background: rgb(14,14,14);
    background: linear-gradient(180deg, rgba(14,14,14,1) 0%, rgba(93,93,101,1) 34%, rgba(0,212,255,1) 100%);
    height: 1400px;
}