header {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 40px;

}
.logo {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
h1 {
    margin-bottom: -8px;
}
.tabs {
    display: flex;
    gap: 20px;
}
.tabs p {
    margin-top: 28px;
}
.herobutton {
    margin-top: 16px;
    color: white;
    border: none;
    background-color: #FF4D00;
    border-radius: 8px; 
    cursor: pointer;
    width: 100px;
    transition: 0.2s;
    --shadow-color: 0deg 0% 0%;
    box-shadow:
    0.5px 0.7px 1px hsl(var(--shadow-color) / 0.12),
    1.5px 2.5px 3.3px -0.8px hsl(var(--shadow-color) / 0.12),
    3.9px 6.3px 8.3px -1.7px hsl(var(--shadow-color) / 0.12),
    9.6px 15.5px 20.5px -2.5px hsl(var(--shadow-color) / 0.12);
}
.herobutton:hover {
    background-color: #df4300;
}
.socials { 
    margin-top: 32px;
    display: flex;
    
}
.hr {
    background-color: #FF4D00;
    width: 100px;
    height: 2px;
    border: none;
    margin-left: -10px;
    margin-top: 12px;
    margin-right: 12px;
}
li {
    list-style: none;
    display: inline-block;
}
.fab {
    color: white;
    font-size: 24px;
    transition: 0.5s;
    margin-right: 8px;
}
.tab:hover, .fab:hover {
    color: #FF4D00;
    cursor: pointer;
}
.hero {
    display: flex;
    margin-left: 32px;
}
.description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.description h2 {
    margin-top: 106px;
    font-size: 24px;
    width: 250px;
}
.description h3 {
    width: 230px;
    color: rgb(144, 144, 144);
    font-size: 12px;
    font-weight: 100;   
}
.description button {
    font-size: 12px;
    width: 160px;
    border: none;
    border-radius: 6px;
    padding: 8px 4px;
    line-height: 16px;
    --shadow-color: 0deg 0% 0%;
    box-shadow:
    0.5px 0.7px 1px hsl(var(--shadow-color) / 0.12),
    1.5px 2.5px 3.3px -0.8px hsl(var(--shadow-color) / 0.12),
    3.9px 6.3px 8.3px -1.7px hsl(var(--shadow-color) / 0.12),
    9.6px 15.5px 20.5px -2.5px hsl(var(--shadow-color) / 0.12);
}
.description h2 span {
    color: #FF4D00;
}
.hero img {
    height: 270px;
    margin-top: 80px;   
}
.testimonials {
    margin: 180px 32px;
}
.ig-section{
    margin-left: 32px;
    margin-bottom: 80px;
    display: flex;
    gap:12px;
}
.ig-description{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 120px;
}
.ig-link {
    text-decoration: none;
    color:white;
    font-size: 14px;
}
.ig-link:hover {
    text-decoration: underline;
} 
.ig-big-pic {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}
.ig-sml-pic-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.ig-sml-pic {
    width: 88px;
    height: 88px;
    object-fit: cover;
    border-radius: 8px;
}
.f1 {
    display: flex;
    gap: 20px;
    justify-content:center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.f1 a {
    text-decoration: none;
    color:white;
    font-size: 12px;
}
.f2 {
    display: flex;
    justify-content: center;
    gap: 14px;
}

@media screen and (max-width: 1000px) {
    .hr2 {
        background-color: white;
        width: 500px;
        height: 1px;
    }
}